RewriteEngine On

RewriteRule ^addActualite$ addActualite.php
RewriteRule ^addAgent$ addAgent.php
RewriteRule ^addConseil$ addConseil.php
RewriteRule ^addProtection$ addProtection.php
RewriteRule ^addProvince$ addProvince.php
RewriteRule ^addRepQuest$ addRepQuest.php
RewriteRule ^addUtilisateur$ addUtilisateur.php

RewriteRule ^connexion$ connexion.php
RewriteRule ^delConversation$ delConversation.php
RewriteRule ^login$ login.php
RewriteRule ^verificationAcces$ verificationAcces.php


RewriteRule ^inde$ index.php
RewriteRule ^Op$ Op.php
RewriteRule ^article/([a-z0-9-]+)-([0-9]+)$ article.php?titre=$1&id=$2